{:paths   ["src/main"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:server   {:extra-paths ["resources"]
                      :extra-deps  {ring/ring-core          {:mvn/version "1.9.6"}
                                    ring/ring-jetty-adapter {:mvn/version "1.9.6"}}}

           :web      {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}}}

           :dev      {:extra-paths ["src/dev"]
                      :extra-deps  {binaryage/devtools   {:mvn/version "1.0.6"}
                                    cider/cider-nrepl    {:mvn/version "0.29.0"}
                                    thheller/shadow-cljs {:mvn/version "2.20.14"}}}

           :outdated {:replace-deps {olical/depot {:mvn/version "2.3.0"}}
                      :main-opts    ["-m" "depot.outdated.main"]}

           :uberjar  {:replace-deps  {uberdeps/uberdeps {:mvn/version "1.2.0"}}
                      :replace-paths []
                      :main-opts     ["-m" "uberdeps.uberjar" "--aliases" "server"]}}}
